@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #fcfffcb3, #00ffffc3, #ffff00c3);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #00FFFF;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2{
    color: #000000;
    border-radius: 10px;
}

p{
    text-align: justify;
}